.bg-light {
    background-color: #F3E9F1!important;
    border-radius: 5px;
}
.container {
    background-color: #F3E9F1!important;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}