.bg-light {
    background-color: #F3E9F1!important;
    border-radius: 5px;
}
.container {
    background-color: #F3E9F1!important;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
img {
    object-fit: cover;
}
.row {
    margin-top: 1rem;
}
.card {
    border: 5px solid white;
}
.figure-img {
    padding-top: 1rem;
    padding-left: 0.5rem;
}